<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create New Wish</title>

</head>
<body>


<h1>Create new Wish</h1>
<form th:action="@{'/wishlist/' + ${wishListId} + '/wish/save'}"
      th:object="${wish}" method="post">
    <label for="name">Name</label>
    <input th:field="*{wish_name}" id="name">

    <label for="price">Price</label>
    <input th:field="*{wish_price}" id="price">

    <label for="link">Link</label>
    <input th:field="*{wish_link}" id="link">

    <button type="submit">OK</button>
</form>

</body>
</html>