<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create New Wish</title>
    <link rel="stylesheet" th:href="@{/login-style.css}">
</head>
<body>



<form class="wrapper" th:action="@{'/wishlist/' + ${wishListId} + '/wish/save'}"
      th:object="${wish}" method="post">
    <h1>Create new Wish</h1>

    <div class="input-box">
        <input th:field="*{wish_name}" id="name" placeholder="Name">
    </div>

    <div class="input-box">
        <input th:field="*{wish_price}" id="price" placeholder="Price">
    </div>

    <div class="input-box">
        <input th:field="*{wish_link}" id="link" placeholder="Link">
    </div>

    <button class="create-btn" type="submit">Create</button>
    <a th:href="@{'/wishlist/' + ${wishListId}}" class="create-btn">Cancel</a>
</form>

</body>
</html>