<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit New Wish</title>
    <link rel="stylesheet" th:href="@{/login-style.css}">
</head>
<body>

<form class="wrapper" th:action="@{'/wishlist/' + ${wishlistId} +'/'+ ${wish.wish_id} + '/update'}"
      th:object="${wish}"
      method="post">
    <h1 th:text="*{wish_name}"> Edit wish</h1>
    <label for="wish_name">Wish Name</label>
    <div class="input-box">
        <input  id="wish_name" th:field="*{wish_name}">
    </div>
    <div class="input-box">
        <label for="price">Price</label>
        <input id="price" th:field="*{wish_price}" th:placeholder="*{wish_price}">

    </div>
    <div class="input-box">
        <label for="link">Link</label>
        <input id="link" th:field="*{wish_link}" th:placeholder="*{wish_link}">

    </div>








    <button type="submit" class="create-btn">Save Changes</button>
    <a th:href="@{'/wishlist/' + ${wishlist.wishListId}}">
        <button class="create-btn">Cancel</button>
    </a>
</form>
</body>
</html>