<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/login-style.css}">
    <link href='https://cdn.boxicons.com/fonts/basic/boxicons.min.css' rel='stylesheet'>
</head>
<body>
<div class="wishlist-container">

    <div class="headers-wrapper">
        <h1 th:text="'Wishlist: ' + ${wishlist.wishListName}">Wishlist Name</h1>
        <h3 th:if="${wishlist.getWishes().isEmpty()}">There are no wishes yet, add some new</h3>

    </div>

    <ul class="items-wrapper" th:if="${!#lists.isEmpty(wishlist.getWishes())}">
        <li th:each="item : ${wishlist.getWishes()}"
            class="item"
            th:classappend="${item.isReserved} ? ' reserved' : ''">

            <div class="item-content">
                <span class="wishesHeaders" th:text="${item.wish_name}">Item Name</span><br>
                <span class="wishesHeaders" th:text="${item.wish_price}">Price</span> kr <br>
                <a class="wishesHeadersLink"
                   th:href="${item.wish_link.startsWith('http') ? item.wish_link : 'https://' + item.wish_link}"
                   target="_blank"
                   th:text="${item.wish_link}">Link</a>

                <!-- Reserve button only if NOT reserved -->
                <form th:if="${!item.isReserved}"
                      th:action="@{'/wishlist/' + ${wishlist.wishListId} + '/item/' + ${item.wish_id} + '/reserve'}"
                      method="post">
                    <button class="reserve" type="submit">Reserve</button>
                </form>
            </div>

            <!-- Overlay if reserved -->
            <div th:if="${item.isReserved}" class="reserved-overlay">
                <span>Reserved</span>
            </div>
        </li>
    </ul>






</div>
</body>
</html>